NODE_RED_FLOWS/29051926.json
[{"id":"284a2fd7.48f3f","type":"mqtt in","z":"c916bf19.2746b","name":"","topic":"/medidores/input","qos":"0","datatype":"json","broker":"5a15038.c5662fc","x":480,"y":320,"wires":[["37184163.19c77e","55e91f8e.473c2","9dced982.202208"]]},{"id":"6be4609c.6f03","type":"ui_button","z":"c916bf19.2746b","name":"","group":"e0b28264.a2ff2","order":1,"width":0,"height":0,"passthru":false,"label":"Enter","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Olá, Sejam bem vindos!","payloadType":"str","topic":"","x":170,"y":380,"wires":[["6b90f206.23f22c"]]},{"id":"6b90f206.23f22c","type":"ui_text","z":"c916bf19.2746b","group":"e0b28264.a2ff2","order":2,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":290,"y":380,"wires":[]},{"id":"e64a4b54.04e608","type":"ui_gauge","z":"c916bf19.2746b","name":"","group":"6d089310.c95f4c","order":3,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}%","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"40","seg2":"80","x":770,"y":460,"wires":[]},{"id":"756d8ff1.f9735","type":"ui_chart","z":"c916bf19.2746b","name":"","group":"6d089310.c95f4c","order":4,"width":"0","height":"0","label":"chart","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"80","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":770,"y":400,"wires":[[]]},{"id":"55e91f8e.473c2","type":"function","z":"c916bf19.2746b","name":"","func":"var temp = {\"payload\":msg.payload.Temperatura};\nvar umi = {\"payload\":msg.payload.UmidadeAr};\nreturn [temp,umi];","outputs":2,"noerr":0,"x":610,"y":400,"wires":[["756d8ff1.f9735"],["e64a4b54.04e608"]]},{"id":"ddba4bfa.9fdd58","type":"mqtt out","z":"c916bf19.2746b","name":"","topic":"/medidores/output","qos":"","retain":"","broker":"5a15038.c5662fc","x":410,"y":200,"wires":[]},{"id":"cdf86827.37d9e8","type":"ui_switch","z":"c916bf19.2746b","name":"","label":"Lampada","tooltip":"","group":"e0b28264.a2ff2","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{\"valor\":\"true\"}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"valor\":\"false\"}","offvalueType":"json","officon":"","offcolor":"","x":200,"y":160,"wires":[["68837bc1.f04404","ddba4bfa.9fdd58"]]},{"id":"68837bc1.f04404","type":"debug","z":"c916bf19.2746b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":390,"y":120,"wires":[]},{"id":"37184163.19c77e","type":"debug","z":"c916bf19.2746b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":180,"wires":[]},{"id":"9dced982.202208","type":"function","z":"c916bf19.2746b","name":"","func":"var estadoAnterior = context.get('estado') || \"false\";\nvar temperatura = msg.payload.Temperatura;\nvar umidadeAr = msg.payload.UmidadeAr;\nvar umidadeSolo = msg.payload.UmidadeSolo;\nvar luminosidade = msg.payload.Luminosidade;\nif((temperatura>25)&&(umidadeSolo==true)&&(umidadeAr<70)&&(luminosidade>100))\n{\n    return {\"payload\":{\"valor\":\"true\"}};\n    // se estado anterior == false\n        // if(estadoAnterior ==\"false\")\n        // {\n        //     context.set('estado',\"true\");\n            \n        // }\n        // else\n        //     context.set('estado',\"true\");\n        \n}\n// else\n// {\n//     // if(estadoAnterior==\"true\"){\n//     //     context.set('estado',\"false\");\n//     //     return {\"payload\":{\"valor\":'false'}};\n//     // }\n//     // else\n//     //     context.set('estado',\"false\");\n    \n//     // e se estado anterior == true\n//     //     estado anterior = estado atual\n//     return   {\"payload\":{\"valor\":'false'}};      \n// }\n","outputs":1,"noerr":0,"x":630,"y":580,"wires":[["81e6cf3b.66b33","cdf86827.37d9e8"]]},{"id":"81e6cf3b.66b33","type":"debug","z":"c916bf19.2746b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":870,"y":560,"wires":[]},{"id":"54b2fe60.a8598","type":"mqtt out","z":"c916bf19.2746b","name":"","topic":"/medidores/output","qos":"0","retain":"","broker":"5a15038.c5662fc","x":1090,"y":640,"wires":[]},{"id":"c96c2ee.17357d","type":"mqtt in","z":"c916bf19.2746b","name":"","topic":"/medidores/output","qos":"0","datatype":"json","broker":"5a15038.c5662fc","x":190,"y":500,"wires":[["2684b895.898268"]]},{"id":"2684b895.898268","type":"debug","z":"c916bf19.2746b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":430,"y":440,"wires":[]},{"id":"fab9d9ee.c9e158","type":"switch","z":"c916bf19.2746b","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":460,"y":700,"wires":[[]]},{"id":"5a15038.c5662fc","type":"mqtt-broker","z":"","name":"","broker":"iotsaeg.nc2.iff.edu.br","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e0b28264.a2ff2","type":"ui_group","z":"","name":"Discretos","tab":"ae7a4247.d1b1a","disp":true,"width":"6","collapse":false},{"id":"6d089310.c95f4c","type":"ui_group","z":"","name":"graficos","tab":"ae7a4247.d1b1a","disp":true,"width":"6","collapse":false},{"id":"ae7a4247.d1b1a","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]