NODE_RED_FLOWS/flows2.json
[{"id":"153fc324.af122d","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"34dfae29.1957c2","type":"mqtt in","z":"153fc324.af122d","name":"","topic":"/quarto/temperatura/temperatura2","qos":"0","datatype":"json","broker":"365c5e8f.7bd422","x":700,"y":240,"wires":[["648e82e9.adfdcc","c9d77216.b2cb","2cb17604.c5355a","a86ebf93.787e9","7b200aa.b0941f4"]]},{"id":"648e82e9.adfdcc","type":"debug","z":"153fc324.af122d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.sensor","targetType":"msg","x":1160,"y":260,"wires":[]},{"id":"c9d77216.b2cb","type":"debug","z":"153fc324.af122d","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload.time","targetType":"msg","x":1160,"y":320,"wires":[]},{"id":"a86ebf93.787e9","type":"debug","z":"153fc324.af122d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.data[1]","targetType":"msg","x":1160,"y":400,"wires":[]},{"id":"2cb17604.c5355a","type":"debug","z":"153fc324.af122d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.data[0]","targetType":"msg","x":1160,"y":360,"wires":[]},{"id":"fe7711de.701bf","type":"ui_button","z":"153fc324.af122d","name":"","group":"459ae923.0f5c38","order":1,"width":0,"height":0,"passthru":false,"label":"Enter","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Hello","payloadType":"str","topic":"","x":490,"y":620,"wires":[["7f9d9970.6b2738"]]},{"id":"7f9d9970.6b2738","type":"ui_text","z":"153fc324.af122d","group":"459ae923.0f5c38","order":2,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":860,"y":620,"wires":[]},{"id":"5d8d0290.1e55cc","type":"ui_gauge","z":"153fc324.af122d","name":"","group":"81cf601d.c4eb9","order":3,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}%","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"40","seg2":"80","x":1310,"y":600,"wires":[]},{"id":"3e3de020.dd24c","type":"ui_chart","z":"153fc324.af122d","name":"","group":"81cf601d.c4eb9","order":4,"width":"0","height":"0","label":"chart","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"80","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1310,"y":500,"wires":[[]]},{"id":"7b200aa.b0941f4","type":"function","z":"153fc324.af122d","name":"","func":"var temp = {\"payload\":msg.payload.data[0]};\nvar umi = {\"payload\":msg.payload.data[1]};\nreturn [temp,umi];","outputs":2,"noerr":0,"x":1060,"y":540,"wires":[["3e3de020.dd24c"],["5d8d0290.1e55cc"]]},{"id":"b2b34f39.dc6bd","type":"mqtt out","z":"153fc324.af122d","name":"","topic":"/quarto/lampada/lampada1","qos":"","retain":"","broker":"365c5e8f.7bd422","x":630,"y":420,"wires":[]},{"id":"36d1a858.b2c958","type":"inject","z":"153fc324.af122d","name":"Liga","topic":"","payload":"{\"valor\":\"0\",\"time\":1351824120,\"data\":[48.75608,2.302038]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":240,"wires":[["94fb8051.eddc1"]]},{"id":"27f9e050.a99ba","type":"inject","z":"153fc324.af122d","name":"Desliga","topic":"","payload":"{\"valor\":\"1\",\"time\":1351824120,\"data\":[48.75608,2.302038]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":500,"wires":[["94fb8051.eddc1"]]},{"id":"94fb8051.eddc1","type":"ui_switch","z":"153fc324.af122d","name":"","label":"lamapda","tooltip":"","group":"459ae923.0f5c38","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{\"valor\":\"0\",\"time\":1351824120,\"data\":[48.75608,2.302038]}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"valor\":\"1\",\"time\":1351824120,\"data\":[48.75608,2.302038]}","offvalueType":"json","officon":"","offcolor":"","x":370,"y":300,"wires":[["b2b34f39.dc6bd","94da8c4a.367b3"]]},{"id":"94da8c4a.367b3","type":"debug","z":"153fc324.af122d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":500,"y":180,"wires":[]},{"id":"365c5e8f.7bd422","type":"mqtt-broker","z":"","name":"","broker":"iotsaeg.nc2.iff.edu.br","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"459ae923.0f5c38","type":"ui_group","z":"","name":"Discretos","tab":"5692292.5d8d7d8","disp":true,"width":"6","collapse":false},{"id":"81cf601d.c4eb9","type":"ui_group","z":"","name":"graficos","tab":"5692292.5d8d7d8","disp":true,"width":"6","collapse":false},{"id":"5692292.5d8d7d8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]