NODE_RED_FLOWS/versao27052032.json
[{"id":"ddba4bfa.9fdd58","type":"mqtt out","z":"c916bf19.2746b","name":"","topic":"/medidores/output","qos":"","retain":"","broker":"5a15038.c5662fc","x":600,"y":420,"wires":[]},{"id":"284a2fd7.48f3f","type":"mqtt in","z":"c916bf19.2746b","name":"","topic":"/medidores/input","qos":"0","datatype":"json","broker":"5a15038.c5662fc","x":900,"y":340,"wires":[["37184163.19c77e","55e91f8e.473c2"]]},{"id":"6be4609c.6f03","type":"ui_button","z":"c916bf19.2746b","name":"","group":"e0b28264.a2ff2","order":1,"width":0,"height":0,"passthru":false,"label":"Enter","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Hello","payloadType":"str","topic":"","x":390,"y":500,"wires":[["6b90f206.23f22c"]]},{"id":"6b90f206.23f22c","type":"ui_text","z":"c916bf19.2746b","group":"e0b28264.a2ff2","order":2,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":500,"wires":[]},{"id":"e64a4b54.04e608","type":"ui_gauge","z":"c916bf19.2746b","name":"","group":"6d089310.c95f4c","order":3,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}%","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"40","seg2":"80","x":1190,"y":480,"wires":[]},{"id":"756d8ff1.f9735","type":"ui_chart","z":"c916bf19.2746b","name":"","group":"6d089310.c95f4c","order":4,"width":"0","height":"0","label":"chart","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"80","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1190,"y":420,"wires":[[]]},{"id":"55e91f8e.473c2","type":"function","z":"c916bf19.2746b","name":"","func":"var temp = {\"payload\":msg.payload.Temperatura};\nvar umi = {\"payload\":msg.payload.UmidadeAr};\nreturn [temp,umi];","outputs":2,"noerr":0,"x":1030,"y":420,"wires":[["756d8ff1.f9735"],["e64a4b54.04e608"]]},{"id":"9badda28.61e6b8","type":"inject","z":"c916bf19.2746b","name":"Liga","topic":"","payload":"{\"valor\":\"0\",\"time\":1351824120,\"data\":[48.75608,2.302038]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":240,"wires":[["cdf86827.37d9e8"]]},{"id":"45d73408.3b36ac","type":"inject","z":"c916bf19.2746b","name":"Desliga","topic":"","payload":"{\"valor\":\"1\",\"time\":1351824120,\"data\":[48.75608,2.302038]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":440,"wires":[["cdf86827.37d9e8"]]},{"id":"cdf86827.37d9e8","type":"ui_switch","z":"c916bf19.2746b","name":"","label":"Lampada","tooltip":"","group":"e0b28264.a2ff2","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{\"valor\":\"0\",\"time\":1351824120,\"data\":[48.75608,2.302038]}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"valor\":\"1\",\"time\":1351824120,\"data\":[48.75608,2.302038]}","offvalueType":"json","officon":"","offcolor":"","x":370,"y":300,"wires":[["ddba4bfa.9fdd58","68837bc1.f04404"]]},{"id":"68837bc1.f04404","type":"debug","z":"c916bf19.2746b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":500,"y":180,"wires":[]},{"id":"37184163.19c77e","type":"debug","z":"c916bf19.2746b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1050,"y":200,"wires":[]},{"id":"5a15038.c5662fc","type":"mqtt-broker","z":"","name":"","broker":"iotsaeg.nc2.iff.edu.br","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e0b28264.a2ff2","type":"ui_group","z":"","name":"Discretos","tab":"ae7a4247.d1b1a","disp":true,"width":"6","collapse":false},{"id":"6d089310.c95f4c","type":"ui_group","z":"","name":"graficos","tab":"ae7a4247.d1b1a","disp":true,"width":"6","collapse":false},{"id":"ae7a4247.d1b1a","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]